<!DOCTYPE html>
<html lang="en">
<head>
  <title>DI.FM Alarm Clock</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

  <script src="/public/assets/js/scripts.js"></script>
</head>
<body>
  <div id="container">
    <h1 align = "center">Welcome to the DI.FM Alarm Clock App</h1>
    <div class = "panel-body content" align = "center">
      <h4 id="time_to_wakeup"></h4>
      <h4>Now</h4>
      <h4 id = "time_now"> </h4>
      <h4 id = "message">Select time to wakeup:</h4>
      <div class="form-group">
        <div class="row">
          <div id="datetimepicker"></div>
          <span id = "set_wakeup_dt" class = "btn btn-primary">OK</span>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
